## Load modules

In [1]:
import pandas as pd
import numpy as np

## Rotten Tomatoes

In [2]:
# Load base dataset
rt = pd.read_csv('rt_ratings.csv')
rt

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9510,9510,9511,Most Wanted Sharks,2020,NaN,14/100,0,0,0,1,0
9511,9511,9512,Doc McStuffins: The Doc Is In,2020,NaN,13/100,0,0,0,1,0
9512,9512,9513,Ultimate Viking Sword,2019,NaN,13/100,0,0,0,1,0
9513,9513,9514,Hunt for the Abominable Snowman,2011,NaN,10/100,0,0,0,1,0
9514,9514,9515,Women of Impact: Changing the World,2019,7+,10/100,0,0,0,1,0

In [3]:
# Extract relevant columns
rt = rt[['Title', 'Year', 'Rotten Tomatoes','Netflix', 'Hulu', 'Prime Video', 'Disney+']]
rt

,Title,Year,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,The Irishman,2019,98/100,1,0,0,0
1,Dangal,2016,97/100,1,0,0,0
2,David Attenborough: A Life on Our Planet,2020,95/100,1,0,0,0
3,Lagaan: Once Upon a Time in India,2001,94/100,1,0,0,0
4,Roma,2018,94/100,1,0,0,0
...,...,...,...,...,...,...,...
9510,Most Wanted Sharks,2020,14/100,0,0,0,1
9511,Doc McStuffins: The Doc Is In,2020,13/100,0,0,0,1
9512,Ultimate Viking Sword,2019,13/100,0,0,0,1
9513,Hunt for the Abominable Snowman,2011,10/100,0,0,0,1
9514,Women of Impact: Changing the World,2019,10/100,0,0,0,1

In [4]:
 # Add the year to the title and drop the year column
rt['Title'] = rt['Title'] + rt['Year'].astype(str)
rt = rt.drop(columns = 'Year')
rt

/tmp/ipykernel_47574/3907425695.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt['Title'] = rt['Title'] + rt['Year'].astype(str)

,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,The Irishman2019,98/100,1,0,0,0
1,Dangal2016,97/100,1,0,0,0
2,David Attenborough: A Life on Our Planet2020,95/100,1,0,0,0
3,Lagaan: Once Upon a Time in India2001,94/100,1,0,0,0
4,Roma2018,94/100,1,0,0,0
...,...,...,...,...,...,...
9510,Most Wanted Sharks2020,14/100,0,0,0,1
9511,Doc McStuffins: The Doc Is In2020,13/100,0,0,0,1
9512,Ultimate Viking Sword2019,13/100,0,0,0,1
9513,Hunt for the Abominable Snowman2011,10/100,0,0,0,1
9514,Women of Impact: Changing the World2019,10/100,0,0,0,1

In [5]:
# Remove punctation, whitespace and set to lowercase
rt['Title'] = rt['Title'].str.replace('[^\w\s]', '', regex = True).str.lower().str.replace(' ', '')
rt

,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,theirishman2019,98/100,1,0,0,0
1,dangal2016,97/100,1,0,0,0
2,davidattenboroughalifeonourplanet2020,95/100,1,0,0,0
3,lagaanonceuponatimeinindia2001,94/100,1,0,0,0
4,roma2018,94/100,1,0,0,0
...,...,...,...,...,...,...
9510,mostwantedsharks2020,14/100,0,0,0,1
9511,docmcstuffinsthedocisin2020,13/100,0,0,0,1
9512,ultimatevikingsword2019,13/100,0,0,0,1
9513,huntfortheabominablesnowman2011,10/100,0,0,0,1
9514,womenofimpactchangingtheworld2019,10/100,0,0,0,1

## IMDB

In [6]:
# Read in rating dataset
imdb_ratings = pd.read_csv('imdb_ratings.tsv', sep = '\t')
imdb_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1910
1        tt0000002            5.8       256
2        tt0000003            6.5      1714
3        tt0000004            5.6       169
4        tt0000005            6.2      2528
...            ...            ...       ...
1260979  tt9916690            6.5         6
1260980  tt9916720            5.1       256
1260981  tt9916730            8.4         6
1260982  tt9916766            6.8        21
1260983  tt9916778            7.2        35

[1260984 rows x 3 columns]

In [7]:
# Read in titles dataset
imdb_titles = pd.read_csv('imdb_titles.tsv', sep = '\t', low_memory = False)
imdb_titles

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9228733,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9228734,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9228735,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9228736,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9228737,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [8]:
# Drop irrelevant columns and filter just the films
imdb_titles = imdb_titles.drop(columns = ['endYear', 'primaryTitle', 'isAdult'])
imdb_titles = imdb_titles[imdb_titles['titleType'] == 'movie'].drop(columns = 'titleType')
imdb_titles

,tconst,originalTitle,startYear,runtimeMinutes,genres
8,tt0000009,Miss Jerry,1894,45,Romance
498,tt0000502,Bohemios,1905,100,\N
570,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography"
587,tt0000591,L'enfant prodigue,1907,90,Drama
610,tt0000615,Robbery Under Arms,1907,\N,Drama
...,...,...,...,...,...
9228628,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,57,Documentary
9228655,tt9916680,De la ilusiÃ³n al desconcierto: cine colombiano...,2007,100,Documentary
9228667,tt9916706,Dankyavar Danka,2013,\N,Comedy
9228678,tt9916730,6 Gunn,2017,116,\N
9228688,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,2013,49,Documentary

In [9]:
# Merge the titles and ratings dataset according to IMDB's id system
imdb = pd.merge(imdb_titles, imdb_ratings, on = 'tconst')
imdb

,tconst,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,Miss Jerry,1894,45,Romance,5.2,199
1,tt0000502,Bohemios,1905,100,\N,3.7,14
2,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",6.0,783
3,tt0000591,L'enfant prodigue,1907,90,Drama,4.0,19
4,tt0000615,Robbery Under Arms,1907,\N,Drama,4.1,23
...,...,...,...,...,...,...,...
282324,tt9916270,Il talento del calabrone,2020,84,Thriller,5.8,1357
282325,tt9916362,Akelarre,2020,92,"Drama,History",6.4,4867
282326,tt9916428,Hong xing zhao yao Zhong guo,2019,\N,"Adventure,History,War",3.8,14
282327,tt9916538,Kuambil Lagi Hatiku,2019,123,Drama,8.3,6
282328,tt9916730,6 Gunn,2017,116,\N,8.4,6

In [10]:
# Combine the release year with the title and drop the year column
imdb['originalTitle'] = imdb['originalTitle'] + imdb['startYear'].astype(str)
imdb = imdb.drop(columns = 'startYear')
imdb

,tconst,originalTitle,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,Miss Jerry1894,45,Romance,5.2,199
1,tt0000502,Bohemios1905,100,\N,3.7,14
2,tt0000574,The Story of the Kelly Gang1906,70,"Action,Adventure,Biography",6.0,783
3,tt0000591,L'enfant prodigue1907,90,Drama,4.0,19
4,tt0000615,Robbery Under Arms1907,\N,Drama,4.1,23
...,...,...,...,...,...,...
282324,tt9916270,Il talento del calabrone2020,84,Thriller,5.8,1357
282325,tt9916362,Akelarre2020,92,"Drama,History",6.4,4867
282326,tt9916428,Hong xing zhao yao Zhong guo2019,\N,"Adventure,History,War",3.8,14
282327,tt9916538,Kuambil Lagi Hatiku2019,123,Drama,8.3,6
282328,tt9916730,6 Gunn2017,116,\N,8.4,6

In [11]:
# Remove punctation, whitespace and set to lowercase
imdb['originalTitle'] = imdb['originalTitle'].str.replace('[^\w\s]', '', regex = True).str.lower().str.replace(' ', '')
imdb

,tconst,originalTitle,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,missjerry1894,45,Romance,5.2,199
1,tt0000502,bohemios1905,100,\N,3.7,14
2,tt0000574,thestoryofthekellygang1906,70,"Action,Adventure,Biography",6.0,783
3,tt0000591,lenfantprodigue1907,90,Drama,4.0,19
4,tt0000615,robberyunderarms1907,\N,Drama,4.1,23
...,...,...,...,...,...,...
282324,tt9916270,iltalentodelcalabrone2020,84,Thriller,5.8,1357
282325,tt9916362,akelarre2020,92,"Drama,History",6.4,4867
282326,tt9916428,hongxingzhaoyaozhongguo2019,\N,"Adventure,History,War",3.8,14
282327,tt9916538,kuambillagihatiku2019,123,Drama,8.3,6
282328,tt9916730,6gunn2017,116,\N,8.4,6

## Combine dataset

In [19]:
# Merge the datasets based on the titles, we lose lots of films here as the rotten tomatoes dataset is significantly more limited than IMDB's
imdb_rt = pd.merge(imdb, rt, left_on = 'originalTitle', right_on = 'Title')
imdb_rt

,tconst,originalTitle,runtimeMinutes,genres,averageRating,numVotes,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,tt0004457,thepatchworkgirlofoz1914,81,"Adventure,Comedy,Family",5.5,493,thepatchworkgirlofoz1914,45/100,0,0,1,0
1,tt0005078,thecheat1915,59,"Drama,Romance",6.5,2581,thecheat1915,52/100,0,0,1,0
2,tt0005302,fanchonthecricket1915,75,Drama,6.5,215,fanchonthecricket1915,44/100,0,0,1,0
3,tt0008150,joanthewoman1916,138,"Adventure,Drama,History",6.4,590,joanthewoman1916,44/100,0,0,1,0
4,tt0011439,themarkofzorro1920,79,"Adventure,Romance,Western",7.1,2545,themarkofzorro1920,55/100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5997,tt9887580,bulletproof22020,97,"Action,Comedy",3.5,624,bulletproof22020,47/100,1,0,0,0
5998,tt9893266,thesestreetswehaunt2021,107,"Drama,Fantasy",4.1,146,thesestreetswehaunt2021,46/100,0,0,1,0
5999,tt9893824,brighthillroad2020,91,Horror,4.4,318,brighthillroad2020,45/100,0,0,1,0
6000,tt9898858,coffeekareem2020,88,"Action,Comedy,Crime",5.1,13740,coffeekareem2020,51/100,1,0,0,0
6001,tt9902160,herself2020,97,Drama,7.0,3727,herself2020,61/100,0,0,1,0

In [20]:
# Drop any duplicate films that the title-year standardistation has not been able to catch
# Also drop the duplicate title column
imdb_rt = imdb_rt.drop_duplicates(subset = ['Title'], keep = False).drop(columns = 'originalTitle')
imdb_rt

,tconst,runtimeMinutes,genres,averageRating,numVotes,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,tt0004457,81,"Adventure,Comedy,Family",5.5,493,thepatchworkgirlofoz1914,45/100,0,0,1,0
1,tt0005078,59,"Drama,Romance",6.5,2581,thecheat1915,52/100,0,0,1,0
2,tt0005302,75,Drama,6.5,215,fanchonthecricket1915,44/100,0,0,1,0
3,tt0008150,138,"Adventure,Drama,History",6.4,590,joanthewoman1916,44/100,0,0,1,0
4,tt0011439,79,"Adventure,Romance,Western",7.1,2545,themarkofzorro1920,55/100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
5997,tt9887580,97,"Action,Comedy",3.5,624,bulletproof22020,47/100,1,0,0,0
5998,tt9893266,107,"Drama,Fantasy",4.1,146,thesestreetswehaunt2021,46/100,0,0,1,0
5999,tt9893824,91,Horror,4.4,318,brighthillroad2020,45/100,0,0,1,0
6000,tt9898858,88,"Action,Comedy,Crime",5.1,13740,coffeekareem2020,51/100,1,0,0,0
6001,tt9902160,97,Drama,7.0,3727,herself2020,61/100,0,0,1,0

In [21]:
# Convert the fraction strings to floats, and scale them up to be out of 10
imdb_rt['Rotten Tomatoes'] = imdb_rt['Rotten Tomatoes'].str.split('/').apply(lambda x: float(x[0]) / float(x[1]) * 10)
imdb_rt

,tconst,runtimeMinutes,genres,averageRating,numVotes,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,tt0004457,81,"Adventure,Comedy,Family",5.5,493,thepatchworkgirlofoz1914,4.5,0,0,1,0
1,tt0005078,59,"Drama,Romance",6.5,2581,thecheat1915,5.2,0,0,1,0
2,tt0005302,75,Drama,6.5,215,fanchonthecricket1915,4.4,0,0,1,0
3,tt0008150,138,"Adventure,Drama,History",6.4,590,joanthewoman1916,4.4,0,0,1,0
4,tt0011439,79,"Adventure,Romance,Western",7.1,2545,themarkofzorro1920,5.5,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
5997,tt9887580,97,"Action,Comedy",3.5,624,bulletproof22020,4.7,1,0,0,0
5998,tt9893266,107,"Drama,Fantasy",4.1,146,thesestreetswehaunt2021,4.6,0,0,1,0
5999,tt9893824,91,Horror,4.4,318,brighthillroad2020,4.5,0,0,1,0
6000,tt9898858,88,"Action,Comedy,Crime",5.1,13740,coffeekareem2020,5.1,1,0,0,0
6001,tt9902160,97,Drama,7.0,3727,herself2020,6.1,0,0,1,0

In [22]:
# Drop unique id
imdb_rt = imdb_rt.drop(columns = 'tconst')
imdb_rt

,runtimeMinutes,genres,averageRating,numVotes,Title,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,81,"Adventure,Comedy,Family",5.5,493,thepatchworkgirlofoz1914,4.5,0,0,1,0
1,59,"Drama,Romance",6.5,2581,thecheat1915,5.2,0,0,1,0
2,75,Drama,6.5,215,fanchonthecricket1915,4.4,0,0,1,0
3,138,"Adventure,Drama,History",6.4,590,joanthewoman1916,4.4,0,0,1,0
4,79,"Adventure,Romance,Western",7.1,2545,themarkofzorro1920,5.5,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
5997,97,"Action,Comedy",3.5,624,bulletproof22020,4.7,1,0,0,0
5998,107,"Drama,Fantasy",4.1,146,thesestreetswehaunt2021,4.6,0,0,1,0
5999,91,Horror,4.4,318,brighthillroad2020,4.5,0,0,1,0
6000,88,"Action,Comedy,Crime",5.1,13740,coffeekareem2020,5.1,1,0,0,0
6001,97,Drama,7.0,3727,herself2020,6.1,0,0,1,0

In [24]:
# Reorganise columns
imdb_rt = imdb_rt[['Title','genres', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'runtimeMinutes', 'numVotes', 'averageRating', 'Rotten Tomatoes']]
imdb_rt

,Title,genres,Netflix,Hulu,Prime Video,Disney+,runtimeMinutes,numVotes,averageRating,Rotten Tomatoes
0,thepatchworkgirlofoz1914,"Adventure,Comedy,Family",0,0,1,0,81,493,5.5,4.5
1,thecheat1915,"Drama,Romance",0,0,1,0,59,2581,6.5,5.2
2,fanchonthecricket1915,Drama,0,0,1,0,75,215,6.5,4.4
3,joanthewoman1916,"Adventure,Drama,History",0,0,1,0,138,590,6.4,4.4
4,themarkofzorro1920,"Adventure,Romance,Western",0,0,1,0,79,2545,7.1,5.5
...,...,...,...,...,...,...,...,...,...,...
5997,bulletproof22020,"Action,Comedy",1,0,0,0,97,624,3.5,4.7
5998,thesestreetswehaunt2021,"Drama,Fantasy",0,0,1,0,107,146,4.1,4.6
5999,brighthillroad2020,Horror,0,0,1,0,91,318,4.4,4.5
6000,coffeekareem2020,"Action,Comedy,Crime",1,0,0,0,88,13740,5.1,5.1
6001,herself2020,Drama,0,0,1,0,97,3727,7.0,6.1

In [26]:
# Name columns nicely
col_names = ['title','genre','netflix', 'hulu', 'prime', 'disney', 'runtime', 'num_votes', 'imdb_rating', 'rt_rating']
imdb_rt.columns = col_names
imdb_rt

,title,genre,netflix,hulu,prime,disney,runtime,num_votes,imdb_rating,rt_rating
0,thepatchworkgirlofoz1914,"Adventure,Comedy,Family",0,0,1,0,81,493,5.5,4.5
1,thecheat1915,"Drama,Romance",0,0,1,0,59,2581,6.5,5.2
2,fanchonthecricket1915,Drama,0,0,1,0,75,215,6.5,4.4
3,joanthewoman1916,"Adventure,Drama,History",0,0,1,0,138,590,6.4,4.4
4,themarkofzorro1920,"Adventure,Romance,Western",0,0,1,0,79,2545,7.1,5.5
...,...,...,...,...,...,...,...,...,...,...
5997,bulletproof22020,"Action,Comedy",1,0,0,0,97,624,3.5,4.7
5998,thesestreetswehaunt2021,"Drama,Fantasy",0,0,1,0,107,146,4.1,4.6
5999,brighthillroad2020,Horror,0,0,1,0,91,318,4.4,4.5
6000,coffeekareem2020,"Action,Comedy,Crime",1,0,0,0,88,13740,5.1,5.1
6001,herself2020,Drama,0,0,1,0,97,3727,7.0,6.1

In [27]:
#Reset the index
imdb_rt = imdb_rt.reset_index(drop = True)
imdb_rt

,title,genre,netflix,hulu,prime,disney,runtime,num_votes,imdb_rating,rt_rating
0,thepatchworkgirlofoz1914,"Adventure,Comedy,Family",0,0,1,0,81,493,5.5,4.5
1,thecheat1915,"Drama,Romance",0,0,1,0,59,2581,6.5,5.2
2,fanchonthecricket1915,Drama,0,0,1,0,75,215,6.5,4.4
3,joanthewoman1916,"Adventure,Drama,History",0,0,1,0,138,590,6.4,4.4
4,themarkofzorro1920,"Adventure,Romance,Western",0,0,1,0,79,2545,7.1,5.5
...,...,...,...,...,...,...,...,...,...,...
5830,bulletproof22020,"Action,Comedy",1,0,0,0,97,624,3.5,4.7
5831,thesestreetswehaunt2021,"Drama,Fantasy",0,0,1,0,107,146,4.1,4.6
5832,brighthillroad2020,Horror,0,0,1,0,91,318,4.4,4.5
5833,coffeekareem2020,"Action,Comedy,Crime",1,0,0,0,88,13740,5.1,5.1
5834,herself2020,Drama,0,0,1,0,97,3727,7.0,6.1

### Expand genre info

In [28]:
# Split the genre strings into a list of lists
genre_list = [item.split(',') for item in imdb_rt['genre'].values]
genre_list[0:5]

[['Adventure', 'Comedy', 'Family'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Adventure', 'Drama', 'History'],
 ['Adventure', 'Romance', 'Western']]

In [29]:
# Get a list of all the unique genres
unique_genres = list(set(np.array([item for sublist in genre_list for item in sublist])))
unique_genres[0:5]

['Drama', 'Biography', 'Mystery', 'Sci-Fi', 'Music']

In [30]:
# Make a dictionary to map genre to column index
genre_to_index = {genre: index for genre, index in zip(unique_genres, range(len(unique_genres)))} 
genre_to_index

{'Drama': 0,
 'Biography': 1,
 'Mystery': 2,
 'Sci-Fi': 3,
 'Music': 4,
 'Horror': 5,
 'Adventure': 6,
 'Crime': 7,
 'Documentary': 8,
 '\\N': 9,
 'Animation': 10,
 'Family': 11,
 'Western': 12,
 'Film-Noir': 13,
 'Musical': 14,
 'History': 15,
 'Sport': 16,
 'Thriller': 17,
 'Action': 18,
 'Talk-Show': 19,
 'News': 20,
 'Comedy': 21,
 'Fantasy': 22,
 'War': 23,
 'Reality-TV': 24,
 'Romance': 25}

In [31]:
# Initalise array to hold genre data
genre_array = np.zeros( ( len(genre_list), len(unique_genres) ) )

In [32]:
# Loop over each of the genres of each film, and put a 1 in the corresponding columns
for i, genres in enumerate(genre_list):
    for genre in genres:
        col_index = genre_to_index[genre]
        genre_array[i, col_index] = 1

genre_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [33]:
# Make a dataframe out of the numpy array
genre_df = pd.DataFrame(genre_array)

# Add column names
unique_genres = [genre.lower() for genre in unique_genres]
genre_df.columns = unique_genres
genre_df

,drama,biography,mystery,sci-fi,music,horror,adventure,crime,documentary,\n,...,sport,thriller,action,talk-show,news,comedy,fantasy,war,reality-tv,romance
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5831,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5832,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5834,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# Replace the genre column with this encoded data 
imdb_rt = imdb_rt.drop(columns = ['genre'])
imdb_rt = pd.concat([imdb_rt, genre_df], axis = 1)
imdb_rt

,title,netflix,hulu,prime,disney,runtime,num_votes,imdb_rating,rt_rating,drama,...,sport,thriller,action,talk-show,news,comedy,fantasy,war,reality-tv,romance
0,thepatchworkgirlofoz1914,0,0,1,0,81,493,5.5,4.5,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,thecheat1915,0,0,1,0,59,2581,6.5,5.2,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,fanchonthecricket1915,0,0,1,0,75,215,6.5,4.4,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,joanthewoman1916,0,0,1,0,138,590,6.4,4.4,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,themarkofzorro1920,0,0,1,0,79,2545,7.1,5.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5830,bulletproof22020,1,0,0,0,97,624,3.5,4.7,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5831,thesestreetswehaunt2021,0,0,1,0,107,146,4.1,4.6,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5832,brighthillroad2020,0,0,1,0,91,318,4.4,4.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5833,coffeekareem2020,1,0,0,0,88,13740,5.1,5.1,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5834,herself2020,0,0,1,0,97,3727,7.0,6.1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# Move the imdb rating to the end for sanity
cols = list(imdb_rt.columns.values) 
cols.pop(cols.index('imdb_rating')) 
imdb_rt = imdb_rt[cols + ['imdb_rating']]

In [36]:
imdb_rt

,title,netflix,hulu,prime,disney,runtime,num_votes,rt_rating,drama,biography,...,thriller,action,talk-show,news,comedy,fantasy,war,reality-tv,romance,imdb_rating
0,thepatchworkgirlofoz1914,0,0,1,0,81,493,4.5,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.5
1,thecheat1915,0,0,1,0,59,2581,5.2,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6.5
2,fanchonthecricket1915,0,0,1,0,75,215,4.4,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.5
3,joanthewoman1916,0,0,1,0,138,590,4.4,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.4
4,themarkofzorro1920,0,0,1,0,79,2545,5.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5830,bulletproof22020,1,0,0,0,97,624,4.7,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.5
5831,thesestreetswehaunt2021,0,0,1,0,107,146,4.6,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.1
5832,brighthillroad2020,0,0,1,0,91,318,4.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.4
5833,coffeekareem2020,1,0,0,0,88,13740,5.1,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.1
5834,herself2020,0,0,1,0,97,3727,6.1,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0

In [37]:
# Save the final dataset
imdb_rt.to_csv('./imdb_rt.csv', index = False)